<%-include("./layouts/head")%>
<body>
  <%-include("./layouts/header")%>
  <hr>
  <%-include("./layouts/nav")%>
  <hr>

  <h1>Create Page</h1>

  <hr>
  <%-include("./layouts/footer")%>
</body>
</html>