.header {
  display: flex;
  justify-content: center;
}
.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.nav-bar ul {
display: flex;
justify-content: space-around;
margin :10px;
}
